@import url(fonts/InterWeb/inter.css);
@import url(styles/normalize.css);
.page {
  max-width: 1440px;
  margin: 0 auto;
}

.colontituls {
  background-color: black;
  margin: 10px;
  border-radius: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

.header__logo {
  width: 40px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.header__heading {
  margin: 0;
  margin-bottom: 28px;
  width: 650px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 115%;
  color: #FFFFFF;
}

.header__text {
  margin: 0;
  margin-bottom: 108px;
  width: 450px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 144%;
  color: rgba(255, 255, 255, 0.7);
}

.header__button {
  width: 240px;
  height: 54px;
  margin: 0;
  margin-bottom: 130px;
  padding: 0;
  background: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #222222;
  cursor: pointer;
}
.header__button:hover {
  opacity: 0.93;
}

.header__description-column {
  margin-left: 157px;
}

.header__image {
  margin: 0;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 120px;
  filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
}

.main {
  max-width: 1100px;
  margin: auto;
}

.benefits {
  margin: 0;
  padding: 0;
  margin-bottom: 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.benefit-card {
  padding: 40px;
  background: #F8F8F8;
  border-radius: 20px;
}
.benefit-card__benefit {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  color: rgba(17, 17, 17, 0.6);
}
.benefit-card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 119%;
  color: #111111;
}
.benefit-card__content {
  margin: 0;
  padding: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: rgba(17, 17, 17, 0.6);
}

.presentation {
  margin-bottom: 120px;
}
.presentation__title {
  margin: 0;
  padding: 0;
  margin-bottom: 120px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 113%;
  color: #111111;
}
.presentation__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.presentation__image {
  width: 350px;
  height: 700px;
  -o-object-fit: none;
     object-fit: none;
  filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
}

.appeal {
  margin-bottom: 120px;
}
.appeal__title {
  margin: 0;
  padding: 0;
  margin-bottom: 120px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 113%;
  color: #111111;
}

.feedback {
  padding: 60px;
  margin-bottom: 120px;
  background: #F8F8F8;
  border-radius: 10px;
}
.feedback__heading {
  width: 500px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 20px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 119%;
  text-align: center;
  color: #111111;
}
.feedback__text {
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: rgba(17, 17, 17, 0.6);
}
.feedback__form {
  margin-bottom: 30px;
}
.feedback__username {
  margin: 0;
  margin-bottom: 20px;
  padding: 15px 20px;
  width: 430px;
  height: 54px;
  margin-right: 36px;
  border: none;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.feedback__username::-moz-placeholder {
  color: rgba(17, 17, 17, 0.3);
}
.feedback__username:-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.3);
}
.feedback__username::placeholder {
  color: rgba(17, 17, 17, 0.3);
}
.feedback__email {
  margin: 0;
  padding: 15px 20px;
  width: 430px;
  height: 54px;
  border: none;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.feedback__email::-moz-placeholder {
  color: rgba(17, 17, 17, 0.3);
}
.feedback__email:-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.3);
}
.feedback__email::placeholder {
  color: rgba(17, 17, 17, 0.3);
}
.feedback__massage {
  margin: 0;
  padding: 15px 20px;
  width: 940px;
  height: 130px;
  border: none;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.feedback__massage::-moz-placeholder {
  color: rgba(17, 17, 17, 0.3);
}
.feedback__massage:-ms-input-placeholder {
  color: rgba(17, 17, 17, 0.3);
}
.feedback__massage::placeholder {
  color: rgba(17, 17, 17, 0.3);
}
.feedback__button {
  width: 194px;
  height: 54px;
  margin: 0;
  padding: 0;
  background: #222222;
  border: none;
  border-radius: 8px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
.feedback__button:hover {
  opacity: 0.85;
}

.footer {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}
.footer__description-column {
  margin-left: 160px;
}
.footer__heading {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 460px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 119%;
  color: #FFFFFF;
}
.footer__text {
  margin: 0;
  margin-bottom: 174px;
  width: 540px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 144%;
  color: rgba(255, 255, 255, 0.7);
}
.footer__button {
  width: 470px;
  height: 54px;
  margin: 0;
  margin-bottom: 130px;
  padding: 0;
  background: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #222222;
  cursor: pointer;
}
.footer__button:hover {
  opacity: 0.93;
}
.footer__image {
  margin: 0;
  margin-left: 82px;
  padding: 0;
  width: 311px;
  -o-object-fit: none;
     object-fit: none;
  position: relative;
  top: 40px;
  filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
}/*# sourceMappingURL=style.css.map */