$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;
$content-width: 1100px;
@use "sass:map";
@import url(fonts/InterWeb/inter.css);
@import url(styles/normalize.css);


@mixin tablet {
    @media (max-width: 1439px) {
      @content;
    }
}

@mixin mobile {
    @media (max-width: 767px) {
      @content;
    }
}

@mixin text(
    $font-size: 60px,
    $line-height: 68px,    
    $font-weight: 700,
    $font-style: normal,
    $font-family: (Inter, Arial, Helvetica, sans-serif)
) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    font-style: $font-style;    
    font-family: $font-family
}

@import "./blocks/_page";
@import "./blocks/_colontituls";
@import "./blocks/_header";
@import "./blocks/_main";
@import "./blocks/_benefits";
@import "./blocks/_benefit-card";
@import "./blocks/_presentation";
@import "./blocks/_appeal";
@import "./blocks/_feedback";
@import "./blocks/_footer";