.appeal{    
    &__title{
        @include text(60px, 68px, 600);
        margin: 0;
        padding: 0;
        margin-bottom: 120px;
        text-align: left;
        color: #111111;
        @include tablet {
            margin: 0 30px;
            margin-bottom: 70px;
            @include text(33px, 37px, 600);            
        }
        @include mobile {
            margin: 0 20px;
            margin-bottom: 70px;
            @include text(26px, 31px, 600);            
        }
    }    
}