.feedback{
    padding: 60px;
    margin-bottom: 120px;
    background: #F8F8F8;
    border-radius: 10px;

    @include tablet {
        padding: 30px;
        margin-bottom: 70px;
    }

    @include mobile {
        padding: 20px;
    }

    &__heading{
        @include text(32px, 38px, 600);
        max-width: 500px;
        min-width: 260px;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 20px;
        text-align: center;
        color: #111111;

        @include tablet {
            margin-bottom: 24px;
            @include text(26px, 31px, 600);
        }
    
        @include mobile {
            margin-bottom: 20px;
        }
    }
    &__text{
        @include text(16px, 24px, 400);
        margin: 0 auto;
        padding: 0;
        max-width: 500px;
        min-width: 260px;
        margin-bottom: 100px;
        text-align: center;
        color: rgba(17, 17, 17, 0.6);

        @include tablet {
            @include text(15px, 20px, 400);
        }
    
        @include mobile {
            margin-bottom: 80px;
        }
    }
    &__form{
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 54px 1fr 54px;
        gap: 20px 40px;
        grid-template-areas: 
        "username email"
        "massage massage"
        ". button";
        @include tablet{
            grid-template-rows: 54px 54px 1fr;
            grid-template-areas: "username"
            "email"
            "massage"
            "button";;
            gap: 20px;
            grid-template-columns: 1fr;
        }
        
           
    }
    &__username{
        grid-area: username;
        @include text(16px, 24px, 400);
        margin: 0;
        max-width: 470px;
        padding: 15px 20px;
        border: none;
        background: #FFFFFF;
        border-radius: 8px;
        &::placeholder{            
            color: rgba(17, 17, 17, 0.3);
        }
        @include tablet {
            min-width: 430px;
            margin: 0 auto;
        }
        @include mobile {
            min-width: 220px;
            @include text(12px, 14px, 400);
        }
    }
    &__email{
        grid-area: email;
        @include text(16px, 24px, 400);
        margin: 0;
        max-width: 470px;
        padding: 15px 20px;
        border: none;
        background: #FFFFFF;
        border-radius: 8px;
        &::placeholder{
            color: rgba(17, 17, 17, 0.3);
        }
        @include tablet {
            min-width: 430px;
            margin: 0 auto;
        }
        @include mobile {
            min-width: 220px;
            max-width: 430px;
            margin: 0 auto;
            @include text(12px, 24px, 400);
        }
    }
    &__massage{
        grid-area: massage;
        @include text(16px, 24px, 400);
        margin: 0;
        margin-bottom: 10px;
        padding: 15px 20px;
        height: 100px;
        border: none;
        background: #FFFFFF;
        border-radius: 8px;    
        &::placeholder{            
            color: rgba(17, 17, 17, 0.3);
        }
        @include tablet{
            min-width: 430px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        @include mobile {
            min-width: 220px;
            max-width: 430px;
            
            margin: 0 auto;
            @include text(12px, 24px, 400);
        }
    }
    &__button{
        grid-area: button;
        @include text(16px, 24px, 600);
        width: 194px;
        height: 54px;
        margin: 0 0 0 auto;
        padding: 0;
        background: #222222;
        border: none;
        border-radius: 8px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
        &:hover{
            opacity: 0.85;
        }
        @include tablet{
            width: 100%;
            max-width: 470px;
            margin: 0 auto;
            @include text(14px, 24px, 600);
        }

        @include mobile{
            width: 260px;
            @include text(12px, 24px, 600);
        }
    }
}